<% if @featured_video.present? %>
  <h2><%= @featured_video.title %></h2>
  <%= render "embed.html", :video => @featured_video %>
  <%= raw @featured_video.description %>
<% end %>

<% unless @videos.empty? %>
  <h2>Other Videos</h2>
  <%= render "videos_grid.html", :videos => @videos %>
<% end %>

<%= render '/refinery/content_page' %>