<% if @video.present? %>
  <h2><%= @video.title %></h2>
  <%= render "embed.html", :video => @video %>
  <%= raw @video.description %>
<% end %>

<% unless @videos.empty? %>
  <h2>Other Videos</h2>
  <%= render "videos_grid.html", :videos => @videos %>
<% end %>

<%= render '/refinery/content_page' %>
